# Exclude dev dependencies, configs, and unnecessary files from VSIX package
.git*
.vscode/
node_modules/*
!node_modules/axios/**
!node_modules/@lmstudio/**
!node_modules/@vscode/**
*.map
*.ts
*.tsx
src/
test/
coverage/
# images/
Grok_Competition_Files/
README.md
LICENSE
*.log
*.old
*.md
*.json
!package.json
!out/**
!dist/**